{{> head}}
{{> navbar }}

<div class="container">
<div class="row">
    <div class="col-8">
       <h1>Rexi</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis atque consequatur tempore, ipsam corrupti maxime voluptatibus enim iure praesentium illum nesciunt ea distinctio necessitatibus quae! Fuga, corrupti. Atque, voluptas harum.</p>
    </div>
    <div class="col-4">
       <img class="img-thumbnail" src="/assets/img/rexi.jpg" alt="rexi">
    </div>
</div>
</div>
{{> footer}}